body {
  font-family: "Cormorant Garamond", serif;
}

.header-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(96, 96, 96, 0.4)), url("https://static.wixstatic.com/media/11062b_85f93424eb404080b61932ca9867d7d1~mv2.jpeg/v1/fill/w_3038,h_1638,fp_0.50_0.50,q_90,usm_0.66_1.00_0.01,enc_auto/Modern%20Building%20Exterior.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

header {
  color: white;
}

.img-newel-container {
  display: inline-block;
}

.img-newel {
  max-width: 260px;
  height: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 40px;
  display: flex;
  align-items: center;
}
.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 40px;
}
.container ul {
  display: flex;
  list-style-type: none;
}
.container li {
  padding: 15px;
}
.container button {
  padding: 13px 30px;
}

.burger-menu {
  display: none;
  width: 26px;
  margin-left: auto;
}

.text2 {
  display: none;
}

.topping {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 40px;
  margin-top: 40px;
}
.topping h1 {
  font-size: 120px;
  text-align: center;
}
.topping p {
  font-size: 24px;
}

.main-content {
  background-color: #46372B;
  color: white;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr 1fr 1.5fr;
  max-width: 1500px;
  display: grid;
  margin: 0 auto;
  padding-top: 40px;
}
.about img {
  width: 750px;
}
.about .about__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid white;
  padding: 40px 40px;
}
.about .about__content h2 {
  font-size: 50px;
}
.about .about__content h4 {
  font-size: 26px;
}
.about .about__content p {
  font-size: 22px;
  width: 533px;
}
.about .about_image {
  grid-column: 1/3;
}
.about .about__content {
  grid-column: 3/5;
}
.about .benefits-title {
  grid-column: 1/5;
  background-color: #2d241c;
  font-size: 55px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 100;
  border: 1px solid white;
}
.about .benefit {
  display: grid;
  place-items: center;
  font-size: 33px;
  text-align: center;
  border: 1px solid white;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 90px 90px 90px 90px 90px;
  max-width: 1500px;
  margin: 40px auto;
}
.service .services-video {
  grid-column: 2/3;
  grid-row: 1/7;
}
.service .services-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid white;
}
.service .services {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding-left: 40px;
  border: 1px solid white;
}
.service .top-service {
  font-size: 50px;
  background-color: #2d241c;
}
.service a {
  text-decoration: none;
  color: rgb(109, 106, 106);
  font-size: 17px;
  width: 100px;
}

.project {
  max-width: 1500px;
  display: grid;
  margin: 40px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 400px 400px 400px 40px;
}
.project img {
  width: 100%;
  height: 400px;
  border: 2px solid white;
}
.project .top-head4 {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border: 2px solid white;
  background-color: #2d241c;
}
.project .photo03 {
  grid-column: 1/3;
}
.project .view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  background-color: #ffffff;
  color: #2d241c;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  grid-column: 2/3;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  width: 200px;
}

.view-btn, .videos-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  background-color: #ffffff;
  color: #2d241c;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  grid-column: 2/3;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  width: 200px;
}
.view-btn a, .videos-btn a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1500px) {
  .about, .service {
    max-width: 1200px;
    padding: 20px 25px;
    width: 100%;
  }
  .about img, .service img {
    width: 575px;
  }
  .project {
    max-width: 1200px;
    padding: 20px 25px;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
    padding: 20px 25px;
  }
  .container nav {
    margin-right: 60px;
  }
  .about, .container, .service, .project {
    max-width: 1000px;
    padding: 20px 25px;
  }
  .about {
    max-width: 1000px;
  }
  .about .about_image img {
    width: 475px;
  }
  .about .about__content h2 {
    font-size: 30px;
  }
  .about .about__content h4 {
    font-size: 22px;
  }
  .about .about__content p {
    font-size: 19px;
    width: 400px;
  }
  .service {
    max-width: 1000px;
  }
  .project {
    max-width: 1200px;
  }
}
@media (max-width: 992px) {
  .container nav {
    margin-right: 30px;
  }
  .img-newel {
    max-width: 220px;
  }
  .about, .service, .project {
    max-width: 700px;
  }
  .about .about_image img {
    width: 326px;
    height: 100%;
  }
  .about .about__content h2 {
    font-size: 27px;
  }
  .about .about__content h4 {
    font-size: 20px;
  }
  .about .about__content p {
    font-size: 12px;
    width: 285px;
  }
  .benefits-title h2 {
    font-size: 25px;
  }
  .benefit h3 {
    font-size: 20px;
  }
  .service {
    grid-template-rows: 100px 70px 70px 70px 70px 70px;
  }
  .service .services {
    font-size: 20px;
  }
  .service .top-service {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 15px 20px;
  }
  .container nav {
    display: none;
  }
  .call-btn {
    display: none;
  }
  .img-newel {
    max-width: 180px;
    height: 30px;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu-img {
    filter: invert(1);
    width: 20px;
    height: 30px;
  }
  nav {
    display: none;
  }
  .topping {
    gap: 30px;
  }
  .topping h1 {
    font-size: 80px;
    text-align: center;
  }
  .topping p {
    font-size: 20px;
  }
  .about, .service, .project {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 600px;
    padding: 40px 20px;
  }
  .about .about_image,
  .about .about__content,
  .about .benefits-title,
  .about .benefit {
    grid-column: 1/-1;
  }
  .about h2 {
    font-size: 40px;
    padding: 30px;
  }
  .about h3 {
    margin-right: auto;
    padding-left: 30px;
    padding: 30px;
    text-align: start;
    font-size: 30px;
  }
  .about .about_image img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  .about .about__content p {
    width: 100%;
  }
  .about .about__content {
    gap: 10px;
  }
  .about .about__content h2 {
    font-size: 40px;
    padding-left: 2px;
  }
  .service {
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .service .services-video {
    width: 100%;
    height: 280px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .service * {
    grid-column: 1/-1 !important;
  }
  .service .videos-btn {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .top-head4 h3 {
    font-size: 30px;
    padding: 20px;
  }
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 600px;
    padding: 40px 20px;
    grid-template-rows: auto;
  }
  .project .photo01,
  .project .photo02,
  .project .photo03,
  .project .photo04,
  .project .photo05,
  .project .top-head4,
  .project .view-btn {
    grid-column: 1/-1;
    width: 100%;
  }
  .project img {
    display: block;
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 450px) {
  .topping {
    gap: 20px;
  }
  .topping h1 {
    font-size: 70px;
  }
  .topping .text2 {
    display: block;
  }
  .topping .text1 {
    display: none;
  }
  .about {
    max-width: 400px;
  }
  .about .about__content p {
    font-size: 12px;
  }
  .service {
    max-width: 400px;
  }
}/*# sourceMappingURL=style.css.map */