@use 'config';


body{
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
}


html {
    overflow-x: hidden; 
}
.header-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(96, 96, 96, 0.4)), 
                url('https://static.wixstatic.com/media/11062b_85f93424eb404080b61932ca9867d7d1~mv2.jpeg/v1/fill/w_3038,h_1638,fp_0.50_0.50,q_90,usm_0.66_1.00_0.01,enc_auto/Modern%20Building%20Exterior.jpeg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh; 
    display: flex;
    flex-direction: column;

}

header{
    color: config.$primary-color;
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;       
    z-index: 1000;

}
.img-newel-container{
  display: inline-block;
}

.img-newel{
    max-width: 260px;
    height: 50px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 40px;
    display: flex;
    align-items: center;


    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: 40px;
        
    }

    ul{
        display: flex;
        list-style-type: none;
    }

    li{
        padding: 15px;
    }

    button{
        padding: 13px 30px;
        
    }


 






}

.burger-menu{
    display: none;
    width: 26px;
    margin-left: auto;
    
    
}


   .text2{
        display: none;
    }


.topping{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: config.$primary-color;
    gap: 40px;
    margin-top: 40px;


    h1{
        font-size: 120px;
        text-align: center;
        
    }

    p{
        font-size: 24px;
    }
}


// მეორე ნაწილი

.main-content{
    background-color:#46372B;
    color: config.$primary-color;



}




.about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr 1.5fr;
    max-width: 1500px;
    display: grid;
    margin: 0 auto;
    padding-top: 40px;


    


    img{
        width: 750px;
        
    }

  

    .about__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        border: 1px solid white;
        // text-align: center;
        padding: 40px 40px;

        h2{
            font-size: 50px;
        }

        h4{
            font-size: 26px;
        }

        p{
            font-size: 22px;
            width: 533px;
        }
    }

    .about_image{
        grid-column: 1 / 3;
    }

    .about__content{
        grid-column: 3 / 5;
    }

    .benefits-title{
        grid-column: 1 / 5;
        background-color:config.$secondary-color;
        font-size: 55px;
        display: flex;
        align-items: center;
        padding-left: 40px;
        font-weight: 100;
        border: 1px solid white;
    }

    .benefit{
        display: grid;
        place-items: center;
        font-size: 33px;
        text-align: center;
        border: 1px solid white;
        
    }

    
}


// services

.service{
    @include config.desktop;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 90px 90px 90px 90px 90px;


    
    


    .services-video{

        grid-column: 2 / 3;
        grid-row: 1 / 7;
        video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid config.$primary-color;
           
         
        }


    }

    .services{
        display: flex;
        align-items: center;
        font-size: 30px;
        padding-left: 40px;
        border: 1px solid config.$primary-color;
    }

    .top-service{
        font-size: 50px;
        background-color: config.$secondary-color;
    }
    // .videos-btn {
    //     background-color: config.$primary-color;
    //     padding: 10px 50px;
    //     display: flex;
    //     margin-left: auto;
 

    //     grid-column: 2 / 3;

        a{
            text-decoration: none;
            color: rgb(109, 106, 106);
            font-size: 17px;
             width: 100px;
            
        }
     
    }




// recent project

.project{
    @include config.desktop;
    // max-width: 1500px;
    // display: grid;
    // margin: 40px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 400px 400px 400px 40px;


    img{
        width: 100%;
        height: 400px;
        border: 2px solid white;
    }

    .top-head4{
        grid-column: 1 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        border: 2px solid white;
        background-color: config.$secondary-color;

    
    }

    .photo03{
        grid-column: 1 / 3;
    }

    .view-btn {
        @include config.buttons; 
     
    }


}


.view-btn,.videos-btn{
    @include config.buttons;
    a{
        text-decoration: none;
        color: black;
    }
}


// testimonials

.testimonial{
    @include config.desktop;
    grid-template-columns:500px 500px 500px;
    grid-template-rows: 200px 400px;
    

    .header5{
        grid-column: 1 / 4;
        border: 1px solid white;
        background-color: config.$secondary-color;
        font-size: 75px;
        display: grid;
        place-items: center;
    }

    .testimonials{
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        justify-content: space-between;
        

    }

    p{
        font-size: 22px;
        line-height: 28px;
        width: 425.6px;
    }

    h3{
        font-size: 33px;
    }
}













// responsive



@media screen and (max-width:1500px) {
    .about ,.service {
        @include config.fifteen-thousand;
   


    img{
        width: 575px;
    }

    }

    .project,.testimonial{
        @include config.fifteen-thousand;
        padding: 30px;
        

    }

    .testimonial{
        grid-template-columns: 380px 380px 380px;
        grid-template-rows: 200px 300px;
        


        .testimonials{
            padding: 40px 20px;
        }

            .header5{
        font-size: 55px;

    }
            p{
        font-size: 16px;
        line-height: 21px;
        width: 321px;
    }

    h3{
        font-size: 23px;
    }



    }

  

 




    
}



@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
        padding: 20px 25px;

        nav {
            margin-right: 60px; 
        }



    }

    .about,.container,.service,.project,.testimonial{
       @include config.twelve-thousand;
    }

   .about{
    max-width: 1000px;
    

    .about_image{
        img{
            width: 475px;
        }
    }

    .about__content{
        h2{
            font-size: 30px;
        }
        

        h4{
            font-size: 22px;
        }

        p{
            font-size: 19px;
            width: 400px;
        }
    }





     
   }



        .service{
            max-width: 1000px;
        }



        .project{
        max-width: 1000px;

    }


    .testimonial{

        grid-template-columns: 310px 320px 320px;
        grid-template-rows: 120px 250px;


        .testimonials{
            padding: 40px 20px;
        }

        .header5{
        font-size: 46px;

    }
        p{
        font-size: 14px;
        line-height: 17px;
        width: 265px;
    }

        h3{
            font-size: 23px;
        }

    }








}


@media (max-width: 992px) {
    .container {
        nav {
            margin-right: 30px; 
        }
    }
    .img-newel {
        max-width: 220px;
    }


        .about,.service,.project,.testimonial{
            max-width: 700px;
        }
       .about{
    
    

    .about_image{
        img{
            width: 326px;
            height: 100%;
        }
    }

    .about__content{
        h2{
            font-size: 27px;
        }
        

        h4{
            font-size: 20px;
        }

        p{
            font-size: 12px;
            width: 285px;
        }

       
    }







     
   }

    .benefits-title{
            h2{
                font-size: 25px;
            }
        }


    .benefit{
        h3{
            font-size: 20px;
        }
    }



        .service{
            
            grid-template-rows: 100px 70px 70px 70px 70px 70px;




            .services{
                font-size: 20px;
            }


            .top-service{
                font-size: 25px;
                
            }
        }



        .testimonial{
                    grid-template-columns: 220px 220px 220px;
                    grid-template-rows: 120px 250px;



        .testimonials{
            padding: 30px 10px;
        }

        .header5{
        font-size: 36px;

    }
        p{
        font-size: 12px;
        line-height: 17px;
        width: 210px;
    }

        h3{
            font-size: 20px;
        }


        }


    
}






@media (max-width: 768px) {
    .container {
        padding: 15px 20px;
        nav { display: none; }
    }

    .call-btn { display: none; }

    .img-newel {
        max-width: 180px; 
        height: 30px;
    }

    .burger-menu {
        display: block;
    }

    .burger-menu-img {
        filter: invert(1);
        width: 20px;
        height: 30px;
    }

    nav { display: none; }

 

    .topping {
        gap: 30px;

        h1 {
            font-size: 80px;
            text-align: center;
        }

        p {
            font-size: 20px;
        }
    } 

    .about,.service,.project,.testimonial{
         @include config.mobile-styles;

    }


    .about{
        


        .about_image, 
        .about__content, 
        .benefits-title, 
        .benefit,
        .testimonial {
            grid-column: 1 / -1; 
        }

        h2{
            font-size: 40px;
            padding: 30px;
        }

        h3{
            margin-right: auto;
            padding-left: 30px;
            padding: 30px;
            text-align: start;
            font-size: 30px;
        }

   

        .about_image img {
            width: 100%; 
            height: auto;
            object-fit: cover;  
            display: block;
        }

        .about__content p {
            width: 100%; 
            


            
        }


        .about__content{

            gap: 10px;
            h2{
                font-size: 40px;
                padding-left: 2px;
            }
        }




       
    }

    .service{
        
        grid-template-rows: 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr;

        .services-video{
            width: 100%;
            height: 280px;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        *{
        grid-column: 1 / -1 !important;
        

        }

        .videos-btn{
            width: 100%;
            display: grid;
            place-items: center;
        }

    }

    .top-head4{
        h3{
            font-size: 30px;
            padding: 20px;
        }
    }

    .project {
        @include config.mobile-styles; 
        grid-template-rows: auto; 


    
        .photo01, 
        .photo02,
         .photo03, 
         .photo04,
          .photo05,
           .top-head4,
           .view-btn {
            grid-column: 1 / -1; 
            width: 100%;
        }

 

     


        img {
            display: block;
            width: 100%;
            height: 350px;       
            object-fit: cover;   
        }
    }



    .testimonial{
        grid-template-rows: auto;
        padding: 40px 20px;

        .header5{
            grid-column: 1 / -1;
            font-size: 35px;
        }

        .testimonials{
            width: 100%;
            min-height: 250px;
            gap: 10px;

        }

        p{
            font-size: 16px;
            line-height: 30px;
            width: 100%;
        }


    }








  
} 


@media screen and (max-width:450px) {

    .topping{
    gap: 20px;


    h1{
        font-size: 60px;

        
    }

    .text2{
        display: block;
    }

    .text1{
        display: none;
    }







    





  
    }


    .about{
        max-width: 400px;
        .about__content{
            p{
                font-size: 12px;
                
            }
        }
   


    }


    .service,.project{
        max-width: 400px;
    }






    .testimonial{
        max-width: 400x;
        padding: 10px;

        .header5{
            font-size: 25px;
            padding: 10px;
        }

        .testimonials{
            padding: 20px;

        }

        p{
            font-size: 14px;
            width: 250px;

        }
    }






    
}



