body {
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.header-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(96, 96, 96, 0.4)), url("https://static.wixstatic.com/media/11062b_85f93424eb404080b61932ca9867d7d1~mv2.jpeg/v1/fill/w_3038,h_1638,fp_0.50_0.50,q_90,usm_0.66_1.00_0.01,enc_auto/Modern%20Building%20Exterior.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.img-newel-container {
  display: inline-block;
}

.img-newel {
  max-width: 260px;
  height: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 40px;
  display: flex;
  align-items: center;
}
.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 40px;
}
.container ul {
  display: flex;
  list-style-type: none;
}
.container li {
  padding: 15px;
}
.container button {
  padding: 13px 30px;
}

.burger-menu {
  display: none;
  width: 26px;
  margin-left: auto;
}

.text2 {
  display: none;
}

.topping {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 40px;
  margin-top: 40px;
}
.topping h1 {
  font-size: 120px;
  text-align: center;
}
.topping p {
  font-size: 24px;
}

.main-content {
  background-color: #46372B;
  color: white;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr 1fr 1.5fr;
  max-width: 1500px;
  display: grid;
  margin: 0 auto;
  padding-top: 40px;
}
.about img {
  width: 750px;
}
.about .about__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid white;
  padding: 40px 40px;
}
.about .about__content h2 {
  font-size: 50px;
}
.about .about__content h4 {
  font-size: 26px;
}
.about .about__content p {
  font-size: 22px;
  width: 533px;
}
.about .about_image {
  grid-column: 1/3;
}
.about .about__content {
  grid-column: 3/5;
}
.about .benefits-title {
  grid-column: 1/5;
  background-color: #2d241c;
  font-size: 55px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 100;
  border: 1px solid white;
}
.about .benefit {
  display: grid;
  place-items: center;
  font-size: 33px;
  text-align: center;
  border: 1px solid white;
}

.service {
  max-width: 1500px;
  display: grid;
  margin: 0 auto;
  padding: 40px 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 90px 90px 90px 90px 90px;
}
.service .services-video {
  grid-column: 2/3;
  grid-row: 1/7;
}
.service .services-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid white;
}
.service .services {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding-left: 40px;
  border: 1px solid white;
}
.service .top-service {
  font-size: 50px;
  background-color: #2d241c;
}
.service a {
  text-decoration: none;
  color: rgb(109, 106, 106);
  font-size: 17px;
  width: 100px;
}

.project {
  max-width: 1500px;
  display: grid;
  margin: 0 auto;
  padding: 40px 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 400px 400px 400px 40px;
}
.project img {
  width: 100%;
  height: 400px;
  border: 2px solid white;
}
.project .top-head4 {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border: 2px solid white;
  background-color: #2d241c;
}
.project .photo03 {
  grid-column: 1/3;
}
.project .view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  background-color: #ffffff;
  color: #2d241c;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  grid-column: 2/3;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  width: 200px;
}

.view-btn, .videos-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  background-color: #ffffff;
  color: #2d241c;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  grid-column: 2/3;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  width: 200px;
}
.view-btn a, .videos-btn a {
  text-decoration: none;
  color: black;
}

.testimonial {
  max-width: 1500px;
  display: grid;
  margin: 0 auto;
  padding: 40px 20px;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 200px 400px;
}
.testimonial .header5 {
  grid-column: 1/4;
  border: 1px solid white;
  background-color: #2d241c;
  font-size: 75px;
  display: grid;
  place-items: center;
}
.testimonial .testimonials {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  justify-content: space-between;
}
.testimonial p {
  font-size: 22px;
  line-height: 28px;
  width: 425.6px;
}
.testimonial h3 {
  font-size: 33px;
}

.contact {
  max-width: 1500px;
  display: flex;
  margin: 0 auto;
  padding: 40px 20px;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}
.contact .right-side {
  flex: 1;
  border: 1px solid white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 40px;
}
.contact .right-side h2 {
  font-size: 65px;
  margin-bottom: 25px;
  font-weight: 400;
}
.contact .right-side p {
  font-size: 19px;
  line-height: 1.6;
  max-width: 400px;
}
.contact .left-side {
  flex: 1;
  background-color: #2d241c;
  border: 1px solid white;
  display: flex;
}
.contact .left-side form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
  padding: 50px;
  align-content: space-between;
  width: 100%;
  height: 100%;
}
.contact .left-side form .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(50% - 7.5px);
  box-sizing: border-box;
}
.contact .left-side form .full-width {
  width: 100%;
  justify-content: space-between;
}
.contact .left-side form label {
  font-size: 16px;
}
.contact .left-side form input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
  background-color: #2d241c;
}
.contact .left-side .submit-btn2 {
  width: 100%;
  height: 40px;
}

.site-footer {
  background-color: #46372B;
  border-top: 0.5px solid rgb(149, 143, 143);
}

.footer-container {
  max-width: 1500px;
  display: grid;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  row-gap: 40px;
  color: white;
}

.footer-section .logo img {
  width: 367px;
  height: 65px;
}
.footer-section .socials {
  margin-top: 30px;
  font-size: 33px;
}
.footer-section .social-icons {
  width: 33px;
  height: 33px;
  filter: invert(1);
  display: flex;
  margin-top: 20px;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.contact-info {
  border-left: 1px solid white;
  padding-left: 40px;
}
.contact-info h2 {
  font-size: 33px;
}
.contact-info p {
  font-size: 21px;
}
.contact-info .address {
  margin-top: 40px;
}
.contact-info .email {
  margin-top: 25px;
  margin-bottom: 25px;
}

.explore {
  border-left: 1px solid white;
  padding-left: 40px;
}
.explore h2 {
  font-size: 33px;
}
.explore ul {
  margin-top: 40px;
}
.explore ul li {
  color: white;
  padding-bottom: 10px;
  font-size: 21px;
}
.explore ul li a {
  color: white;
  text-decoration: none;
}

.bottom-links {
  border: 1px solid white;
  border-right: none;
  padding: 35px;
}
.bottom-links a {
  color: white;
  font-size: 21px;
  text-decoration: none;
  padding-right: 40px;
}

.copyright {
  grid-column: 3/4;
  border: 1px solid white;
  border-left: none;
  padding: 35px;
}
.copyright P a {
  color: white;
  text-decoration: none;
}

.blank {
  border: 1px solid white;
  border-left: none;
  grid-column: 2/3;
  border-right: none;
}

@media screen and (max-width: 1500px) {
  .about, .service {
    max-width: 1200px;
    padding: 20px 25px;
    width: 100%;
  }
  .about img, .service img {
    width: 575px;
  }
  .project, .testimonial, .contact, .footer-container {
    max-width: 1200px;
    padding: 20px 25px;
    width: 100%;
    padding: 30px;
  }
  .testimonial {
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: 200px 300px;
  }
  .testimonial .testimonials {
    padding: 40px 20px;
  }
  .testimonial .header5 {
    font-size: 55px;
  }
  .testimonial p {
    font-size: 16px;
    line-height: 21px;
    width: 321px;
  }
  .testimonial h3 {
    font-size: 23px;
  }
  .bottom-links a {
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
    padding: 20px 25px;
  }
  .container nav {
    margin-right: 60px;
  }
  .about, .container, .service, .project, .testimonial, .contact, .footer-container {
    max-width: 1000px;
    padding: 20px 25px;
  }
  .about {
    max-width: 1000px;
  }
  .about .about_image img {
    width: 475px;
  }
  .about .about__content h2 {
    font-size: 30px;
  }
  .about .about__content h4 {
    font-size: 22px;
  }
  .about .about__content p {
    font-size: 19px;
    width: 400px;
  }
  .service {
    max-width: 1000px;
  }
  .project {
    max-width: 1000px;
  }
  .testimonial {
    grid-template-columns: 310px 320px 320px;
    grid-template-rows: 120px 250px;
  }
  .testimonial .testimonials {
    padding: 40px 20px;
  }
  .testimonial .header5 {
    font-size: 46px;
  }
  .testimonial p {
    font-size: 14px;
    line-height: 17px;
    width: 265px;
  }
  .testimonial h3 {
    font-size: 23px;
  }
  .footer-container .logo img {
    width: 213px;
    height: 38px;
  }
  .footer-container .socials h3 {
    font-size: 25px;
  }
  .bottom-links a {
    font-size: 11px;
  }
}
@media (max-width: 992px) {
  .container nav {
    margin-right: 30px;
  }
  .img-newel {
    max-width: 220px;
  }
  .about, .service, .project, .testimonial, .contact, .footer-container {
    max-width: 700px;
  }
  .about .about_image img {
    width: 326px;
    height: 100%;
  }
  .about .about__content h2 {
    font-size: 27px;
  }
  .about .about__content h4 {
    font-size: 20px;
  }
  .about .about__content p {
    font-size: 12px;
    width: 285px;
  }
  .benefits-title h2 {
    font-size: 25px;
  }
  .benefit h3 {
    font-size: 20px;
  }
  .service {
    grid-template-rows: 100px 70px 70px 70px 70px 70px;
  }
  .service .services {
    font-size: 20px;
  }
  .service .top-service {
    font-size: 25px;
  }
  .testimonial {
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 120px 250px;
  }
  .testimonial .testimonials {
    padding: 30px 10px;
  }
  .testimonial .header5 {
    font-size: 36px;
  }
  .testimonial p {
    font-size: 12px;
    line-height: 17px;
    width: 210px;
  }
  .testimonial h3 {
    font-size: 20px;
  }
  .contact .right-side h2 {
    font-size: 20px;
  }
  .contact .right-side P {
    font-size: 20px;
  }
  .footer-container .logo img {
    width: 180px;
    height: 30px;
  }
  .footer-container .socials h3 {
    font-size: 20px;
  }
  .footer-container .contact-info h2 {
    font-size: 25px;
  }
  .footer-container .contact-info p {
    font-size: 17px;
  }
  .footer-container .explore h2 {
    font-size: 22px;
  }
  .footer-container .explore ul li {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 15px 20px;
  }
  .container nav {
    display: none;
  }
  .call-btn {
    display: none;
  }
  .img-newel {
    max-width: 180px;
    height: 30px;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu-img {
    filter: invert(1);
    width: 20px;
    height: 30px;
  }
  nav {
    display: none;
  }
  .topping {
    gap: 30px;
  }
  .topping h1 {
    font-size: 80px;
    text-align: center;
  }
  .topping p {
    font-size: 20px;
  }
  .about, .service, .project, .testimonial, .contact {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 600px;
    padding: 40px 20px;
  }
  .about .about_image,
  .about .about__content,
  .about .benefits-title,
  .about .benefit,
  .about .testimonial,
  .about .footer-container {
    grid-column: 1/-1;
  }
  .about h2 {
    font-size: 40px;
    padding: 30px;
  }
  .about h3 {
    margin-right: auto;
    padding-left: 30px;
    padding: 30px;
    text-align: start;
    font-size: 30px;
  }
  .about .about_image img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  .about .about__content p {
    width: 100%;
  }
  .about .about__content {
    gap: 10px;
  }
  .about .about__content h2 {
    font-size: 40px;
    padding-left: 2px;
  }
  .service {
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .service .services-video {
    width: 100%;
    height: 280px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .service * {
    grid-column: 1/-1 !important;
  }
  .service .videos-btn {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .top-head4 h3 {
    font-size: 30px;
    padding: 20px;
  }
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 600px;
    padding: 40px 20px;
    grid-template-rows: auto;
  }
  .project .photo01,
  .project .photo02,
  .project .photo03,
  .project .photo04,
  .project .photo05,
  .project .top-head4,
  .project .view-btn {
    grid-column: 1/-1;
    width: 100%;
  }
  .project img {
    display: block;
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .testimonial {
    grid-template-rows: auto;
    padding: 40px 20px;
  }
  .testimonial .header5 {
    grid-column: 1/-1;
    font-size: 35px;
  }
  .testimonial .testimonials {
    width: 100%;
    min-height: 250px;
    gap: 10px;
  }
  .testimonial .testimonials p {
    font-size: 16px;
    line-height: 30px;
    width: 100%;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact .right-side h2 {
    font-size: 48px;
  }
  .contact .right-side p {
    font-size: 17px;
    width: 387px;
  }
}
@media screen and (max-width: 768px) and (max-width: 790px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px 20px;
  }
  .footer-container .contact-info, .footer-container .explore {
    border-left: none;
    padding-left: 0;
    width: 100%;
  }
  .footer-container .bottom-links {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border: 1px solid white;
    padding: 15px;
  }
  .footer-container .bottom-links a {
    font-size: 19px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .footer-container .copyright {
    border: 1px solid white;
  }
  .footer-container .blank, .footer-container .copyright {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  .footer-container .blank p, .footer-container .copyright p {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) and (max-width: 450px) {
  .topping {
    gap: 20px;
  }
  .topping h1 {
    font-size: 60px;
  }
  .topping .text2 {
    display: block;
  }
  .topping .text1 {
    display: none;
  }
  .about {
    max-width: 400px;
  }
  .about .about__content p {
    font-size: 12px;
  }
  .service, .project, .testimonial, .contact {
    max-width: 400px;
  }
  .testimonial {
    max-width: 400x;
    padding: 10px;
  }
  .testimonial .header5 {
    font-size: 25px;
    padding: 10px;
  }
  .testimonial .testimonials {
    padding: 20px;
  }
  .testimonial p {
    font-size: 14px;
    width: 250px;
  }
  .contact {
    padding: 20px;
  }
  .contact .right-side {
    padding: 20px 20px;
  }
  .contact .right-side h2 {
    font-size: 30px;
  }
  .contact .right-side p {
    font-size: 12px;
    width: 240px;
  }
  .contact .left-side form {
    padding: 30px;
  }
}/*# sourceMappingURL=style.css.map */